:root {
  --bg_gradient: linear-gradient(to left top, var(--bg), var(--lgray));
  --bg_gradient_invert: linear-gradient(to right top, var(--lgray), var(--dBlue));
  --bg_gradient_card: linear-gradient(to left top, var(--blue), #87AECA);
  --bg: #0E1119;
  --blue: #478CBF;
  --dBlue: #23314D;
  --orange: #F27841;
  --gray: #36414C;
  --lgray: #616B80;
  --link_hover_color_lblue: #28C2E0;
  --radius: 10px;
  --button_radius: 7px;
}
.loader-wrap{

}






  .loader {
    width: 3rem;
    height: 3rem;
    border: 5px solid #FFF;
    border-bottom-color: var(--link_hover_color_lblue);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
 }
 @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
    .loader-text{
      color: var(--link_hover_color_lblue);
      left: -40px;
      top: -18px;
      text-align: center;
      position: relative;
    }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
hr{
  width: 100%;
  margin: 0 auto;

}
/* .vertical-line{
  width: 85%;
  transform: rotate(90deg);
  display: inline;
} */
.App{
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  height: 100vh;
  background: var(--bg);
}
.wrap {
  height: 83vh;
}

.header {
  font-family: 'Russo One', sans-serif;
  height: 8vh;
  background:var(--gray);
  margin: 0 auto 3%;
  padding: 0 12%;
  text-align: center;
}
.logo-section {
  float: left;
}
.logotype {
  color: #478CBF;
  font-family: 'Russo One', sans-serif;
  font-size: 3vw;
  margin: 2% auto 0;
  animation: bright 1s linear 3;
}
@keyframes bright {
  50% {
      filter: brightness(185%);
  }
}

.menu-section {
  float: right;
}
.menu {
  margin: 5% auto 0;
}
.menu> a{
  margin: 0 1vw;
}
.pop-menu {
  display: none;
  float: none;
  background-color: var(--lgray);
  font-size: 12vw;
  z-index: 4;
  position: absolute;
  left: 25vw;
  border-radius: 4%;
}
.menu a,
.pop-menu a {
  text-decoration: none;
  color: aqua;
}
.wrapped-menu {
  color: #478CBF;
  font-size: 5vw;
  display: none;
}
.main-content {
/* background-color: #F27841; */
  height: 75vh;
  width: 100%;
  padding: 2% 0;
  /* float: left; */
  margin: 0 auto;
}
.cards-section {
  overflow: auto;
  margin: 0 auto;
  width: 90%;
 height: 95%;
  padding-right: 12%;
}



/* .cards-section {

  overflow: auto;
  margin: 0 auto;
  width: 80%;
  height: 95%;

} */

.card-wrap {

}
.card {
  color: aqua;
  float: right;
  margin: 1% 1% 0;
  /* background: var(--bg_gradient_card); */
  /* margin: 0 auto; */
  max-width: 25%;
 max-height: 25%;
 box-shadow: 2px 2px 4px var(--link_hover_color_lblue);
}
.card-img-section {
  float: left;
  width: 100%;
 
}
.card-img-section>img {
  /* float: right;
  width: 50%; */
  float: none;
     width: 100%;
     min-height: 100%; 
     
}
.div-like-img{
 width: 150%;

}
.card:hover{
  box-shadow: 5px 5px 8px var(--link_hover_color_lblue);
  scale: 1.1;
}
.card:hover .card-description-section>h4  {
  text-shadow: 4px 4px 3px var(--link_hover_color_lblue);
  }

.card:hover .card-description-section>h5 {
  text-shadow: 4px 4px 3px var(--link_hover_color_lblue);
  }
.card:active {
  /* float: right; */
  /* min-width: 30vw;
  min-height: 30vw; */
  /* min-width: 95vw;
  min-height: 95vh;
  position: absolute;
  display: block;
  left: 1vw;
  padding:2% 20%;
  backdrop-filter: blur(7px);
  background-color: rgba(125, 120, 115, 0.75); */
}
/* .card,
.background-gray {
  left: 0vw;
  top: 0vh;
} */
.card:active>.card-img-section>img {
  /* max-height: 15vw;
  display: block */
 
}
/* .card-img-section>img:nth-child(2) {
  display: none;
} */
.card-description-section {
  width: 100%;
  float: left;
}

.full-card{
  margin: 0 auto;
  max-height:80%;

}

 .card-full-screen{
  width: 75%;
  color: aqua;
  margin: 0 auto; 
}
.card-img-section-full-screen{
  background-color: white;

}
 .card-img-section-full-screen > img{ 
  width: 50%; 
  min-height: 100%;
 }
 
.footer {
  font-size: 2vw;
  /* height: 4vh; */
  text-align: center;
  position: absolute;
bottom: 5%;
  /* left: 45%; */
}
.footer-sign{
  background: crimson;
  /* margin: 0 auto 1%; */
  width: 100vw;
}
.year{
  color: crimson;
  text-align: center;
}
@media (min-width: 1920px) {
  .logotype{
    font-size: 2vw;
  }
  .card-full-screen{
    width: 55%;
    color: aqua;
    margin: 0 auto;  
  }
  .footer {
    font-size: 1vw;
    background: crimson;
  }
  .footer-sign{
    height: 2vw;
    font-size: 2vw;
  }

}
@media (max-width: 1200px) {
  .App{
    height: 100vh;
  }
  .cards-section {

      overflow: auto;
      margin: 0 auto;
      width: 90%;
      height: 95%;
      padding-right: 12%;
  }
  .card-wrap {
    margin: 0 auto;

  }

  .card {
      float: right;
      margin: 2% 2%;
      /* float: right;  */

      max-width: 25%;
      height: 25%;
  }
  .card-img-section>img {
      /* float: right;
      width: 50%; */
      /* float: none;
      width: 100%; */
  
  }
  .card:active {
      /* float: right; */

      position: absolute;
      min-width: 95vw;
      min-height: 95vh;

      display: block;
      left: 1vw;
      padding:2% 20%;
      backdrop-filter: blur(7px);
      background-color: rgba(125, 120, 115, 0.75);



  }
  .full-card{
    margin: 0 auto;
    height: 90%;
  }
   .card-full-screen{
    width: 85%;
    color: aqua;
    margin: 0 auto;
    height: 80vh;
    
  }
  .card-img-section-full-screen{
    background-color: white;
   
  
  
  }
   .card-img-section-full-screen > img{
    
    width: 50%;
  }

}

@media (max-width: 1000px) {
  .App{
    height: 100vh;
  }
  .cards-section {

      overflow: auto;
      margin: 0 auto;
      width: 90%;
      height: 95%;
      padding-right: 12%;
  }

  .card-wrap {

      margin: 0 auto;

  }

  .card {
      float: right;
      margin: 2% 2%;
      /* float: right;  */
font-size: 2vw;
      max-width: 25%;
      height: 25%;
  }

  .card-img-section>img {
      /* float: right;
      width: 50%; */
      float: none;
      width: 100%;
  
  }
  .card:active {
      /* float: right; */

      position: absolute;
      min-width: 95vw;
      min-height: 95vh;

      display: block;
      left: 1vw;
      padding:2% 20%;
      backdrop-filter: blur(7px);
      background-color: rgba(125, 120, 115, 0.75);



  }

}

@media (max-width: 768px) {
  .App{
    height: 100vh;
  }
  .wrap {
    /* height: 80vh;   */
  }
  .header {
   

  
    padding: 3% 12%;

  }

  .logo-section {
      display: none;
  }
  .menu-section {
      float: none;
  }
  .menu {
      display: none; 
  }
  .pop-menu {
      text-align: center;
      float: none;
     padding: 1%;
      width: 50vw;
  }
  .wrapped-menu {

    font-size: 3vw;
      display: block;
  }
  .wrapped-menu:hover>.pop-menu {
      display: block;
      margin: 0 auto;
      float: none;
  }
  /* .pop-menu:hover{
    display: none;
  } */
  .cards-section {


      /* background: blueviolet; */
      /* margin: 0 auto; */
      /* width: 100%; */
      height: 95%;
      padding-right: 12%;
  }
.card {
      margin: 2% auto;
font-size: 4vw;
      min-width: 15%;
      max-width: 85%;
  }

  .card-img-section>img {
      float: none;
      width: 100%;
  }

  .card:active {
      margin: 2% auto;
      position: absolute;
      min-width: 15%;
      max-width: 85%;
      left: 8vw;
      top: 2vw;
      padding: 20%;
      backdrop-filter: blur(7px);
  }

  .card:active>.card-img-section>img {

      width: 100%;

      display: block
  }
  .full-card{
    margin: 0 auto;
    /* height: 95%; */
  }
   .card-full-screen{
   max-width: 60%;
    color: aqua;
    margin: 0 auto;
 
    
  }
  .card-img-section-full-screen{
    background-color: white;
    

   
  
  
  }
   .card-img-section-full-screen > img{
   
    width: 100%;
  }
  .footer {
    font-size: 4vw;
    background: crimson;
    height: 4vh;
    text-align: center;
  }
  /* .year{
 display: none;
  } */
  .year{
font-size: 2vw;
  }
  

}

@media (max-width: 480px) {
  .App{
    height: 100vh;
  }
  .logo-section {
      float: none;

  }

  .logotype {
      color: var(--blue);
      font-family: 'Russo One', sans-serif;
      font-size: 8vw;
      margin: 2% auto 0;

  }

  .menu {
      display: none;
  }

  .wrapped-menu {

      display: contents;

  }

  .cards-section {


      /* background: blueviolet; */
      /* margin: 0 auto; */
      /* width: 100%; */
      height: 95%;
      padding-right: 12%;
  }

  .card {
      margin: 2% auto;

      min-width: 15%;
      max-width: 85%;
  }

  .card-img-section {}

  .card-img-section>img {

      width: 100%;
  }

  .footer {
      font-size: 8vw;
      background: crimson;
      height: 8vh;
      text-align: center;
  }
  .year{
    /* font-size: 2vw; */
    display: none;
      }


}

@media (max-width: 448px) {
  .App{
    height: 100vh;
    /* height: 97vh; */
  }
  .logo-section {
      float: none;

  }

  .logotype {
      color: var(--blue);
      font-family: 'Russo One', sans-serif;
      font-size: 8vw;
      margin: 1% auto 0;

  }

  .menu {
      float: none;
      display: none;
  }

  .wrapped-menu {

      display: block;

  }

  .cards-section {


      /* background: blueviolet; */
      /* margin: 0 auto; */
      /* width: 100%; */
      height: 95%;
      padding-right: 12%;
  }

  .card {
      margin: 2% auto;

      min-width: 15%;
      max-width: 85%;
  }

  .card-img-section {}

  .card-img-section>img {

      width: 100%;
  }

  .footer {
      font-size: 8vw;
      background: crimson;
      height: 8vh;
      text-align: center;
  }
  .year{
    /* font-size: 2vw; */
    display: none;
      }


}